*.o
Makedepend
Makefile
Makeoptions
config.h
defs.h
bin/athena
currentversiondoxy
autom4te.cache/*
*~
bin/*.vtk
bin/*.hst
bin/*/*.bin
bin/*/*.vtk
bin/*/*.hst
bin/*/*.bin
bin/*/*/*.vtk
bin/*/*/*.hst
bin/*/*/*.bin
.svn